<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownloadButtonAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58DEA6E91F629F59000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DEA7021F629F5A000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DEA70D1F629F5A000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
