<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JumpStarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58DEA6AA1F628BDE000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DEA6C31F628BDE000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DEA6CE1F628BDE000AE7FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
